.modal {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.3);
  width: 100%;
  height: 100%;
  text-align: center;

  &__content {
    background: #fff;
    padding: 20px;
    max-width: 90%;
    border-radius: 10px;
    line-height: 22px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 20px;
    text-align: left;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__btn {
    padding: 5px 10px;
  }
}
